@model IEnumerable<ARJ.Pianopoli.Admin._6.Models.ListaCompradoresViewModel>

<table class="table table-bordered table-striped" style="width:900px;">
    <tr>
        <th style="width:20px;text-align:center;"></th>
        <th style="width:200px!important; font-size: .9rem;max-width:200px;">
            Nome Comprador
        </th>
        <th style="width: 100px; text-align: right; font-size: .9rem;">
            CPF
        </th>
        <th style="width: 100px; text-align: right; font-size: .9rem;">
            Celular
        </th>
        <th style="width:20px;text-align:center;"></th>
    </tr>
    @{
        int i = 1;
    }
    @foreach (var item in Model)
    {
        <tr>
            <td style="font-size:1.1rem;">@i</td>
            <td>
                @item.NomeComprador
            </td>
            <td>
               @item.CpfComprador
            </td>
            <td>
                @item.CelularComprador
            </td>
            <td>
                <button onclick="EditarComprador(@item.CompradorId)" class="btn btn-warning btn-action editar">
                    <i class="fa-solid fa-edit"></i></button>
            </td>
        </tr>
        {
            i++;
        }
    
    }

</table>