@model ARJ.Pianopoli.Admin._6.Models.CondicoesViewModel

@Html.HiddenFor(e=>e.LoteamentoId)
@Html.HiddenFor(e=>e.Quadra)
@Html.HiddenFor(e=>e.Lote)
@Html.HiddenFor(e=>e.Tipo)
@Html.HiddenFor(e=>e.Registro)

<div class="col-md-12" style="text-align:center"><h3>QUADRA:&nbsp;@Model.Quadra&nbsp;&nbsp;&nbsp;&nbsp;LOTE:&nbsp;&nbsp;@Model.Lote&nbsp;&nbsp;&nbsp;&nbsp;ÁREA:&nbsp;&nbsp;@Model.Area&nbsp;m2</h3></div>
<br />

<table class="table">
    <thead>
        <tr>
            <th scope="col">Plano</th>
            <th scope="col" class="direita">Pr Venda</th>
            <th scope="col" class="direita">Entrada</th>
            <th scope="col" class="direita">Saldo</th>
            <th scope="col">em até</th>
            <th scope="col" class="direita">Vr Mensal</th>
            <th scope="col" class="direita">Semestral</th>
            <th scope="col" class="direita">Vr Semestral</th>
            <th scope="col" class="direita">Vr Parc Pagas</th>
            <th scope="col" class="direita">Sd Reman Quitar</th>
            <th scope="col" class="direita">Pr Corrigido</th>
            <th scope="col" class="direita">Juros cobrados</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Planos)
        {
            <tr>
                <th scope="row" style="text-align:center">@item.Plano</th>
                <th scope="row" class="money direita">@item.PrecoVenda</th>
                <th scope="row" class="money direita">@item.Entrada</th>
                <th scope="row" class="money direita">@item.Saldo</th>
                <th scope="row" style="text-align:center">@item.NrParcMen &nbsp;X</th>
                <th scope="row" class="money direita">@item.Mensais</th>
                <th scope="row" style="text-align:center">@item.NrParcSem&nbsp;X</th>
                <th scope="row" class="number direita">@string.Format("{0:##,##0.00}", item.Semestrais)</th>
                <th scope="row" class="money direita">@item.TotalPagas</th>
                <th scope="row" class="money direita">@item.SaldoRem</th>
                <th scope="row" class="money direita">@item.PrecoComJuros</th>
                <th scope="row" class="money direita">@item.JurosCobrados</th>
            </tr>
        }
    </tbody>
</table>
<div style="text-align:center">
    <h2> ATENÇÃO!</h2>
    <br />
    <h3>Os valores poderão ser alterados pela ARJ Empreendimentos a qualquer momento, sem aviso prévio.</h3>
</div>
<br />
<div style="text-align:center">
    <button type="button" class="btn btn-primary" id="btn-proposta">Proposta</button>
    <button type="button" class="btn btn-success" id="btn-pdf" onclick="GerarPdfPrecos()">Gerar PDF</button>
</div>

<script src="~/js/site.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if ($("#Tipo").val() == 2) {

            $("#btn-proposta").attr("hidden", false);
            $("#btn-pdf").attr("hidden", false);
        }
        else {
            $("#btn-proposta").attr("hidden", true);
            $("#btn-pdf").attr("hidden", true);
        }
    });

    function GerarPdfPrecos() {

        window.open(urlbase + "/Propostas/GerarPdfCondicoesComerciais?Id=" + $("#Registro").val(), '_blank');

    }


</script>
